body {
    margin: 10x 400px;
    text-align: center;
    background-color: black;
    color: white;
}

header h1{
    margin: 20px;
    max-width: 1080px;
    display: inline;
    color: green;
    background-color: black;
    font-size: 240px;
    padding: 200px 40px;
    border: 10px solid green;
    border-bottom: 100px;
    box-sizing: border-box;
}

main{
    border: 10px solid green;
    max-width: 1080px;
    margin: 0 auto;
}

footer.li{
    display: block;
}
a.a{
    float: left;
}
a.b{
    float: right;
}
h2 {
    font-size: 60px;
    display: inline;
    margin: 10px 10px;
}

h3{
    font-size: 30px;
    display: block;
}

p{

}

header.img{
    max-width: 450px;
    float: left;
}

header.img1{
    transform: translate(500px);
}

span{
    transform: translate(500px);

}

