body img{
    position: absolute;
    max-width: 100%;
    height: auto;
}
body {
    margin: 0;
    box-sizing: border-box;

}

main img{
    float: left;
    max-width: 60px;
    max-height: 80px;
    padding: 10px;
    transform: translate(860px, 140px);
}

main img:hover{
    opacity: 50%;
}
a.Buttons{
    font-size: 30px;
    color:  white;
    text-decoration: none;
    padding: 25px;
    display: inline-block;
    transform: translate(720px, 130px);
   
}
a.Buttons:hover{
    opacity: 50%;
}