body {
    margin 0;
    background-color: black;
    color: white;
    text-align: center;
    padding 0 20;

}

h1{
    line-height: 30px;
}
h2 {
    font-size: 40px;
    line-height: 25px;
}

p.para{
    font-size: 20px;
    line-height: 20px;
    
}

p.cap {
    font-style: italic;
    color: white ;
    font-size: 20px;

}
p.cap:hover {
    color: red;
}

i {
    color:white;
}
i:hover {
    color: red;
}

header {
    color: green;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    font-size: 70px;
}
main img{
    max-width 100px;


}

footer {
    text-align: centre;
    font-size: 25px;
}

a.title {
    color: white;

}
a.title:hover {
    color:red;
}
footer:after {
    scale: 50%;
    width: 400px;
    box-sizing: border-box;
}
